body {
  background-image: url('https://i.pinimg.com/originals/de/70/48/de704822300631c6ffe28921ba7ef8d0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.card-altura-fixa {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card-altura-fixa .card-body {
  flex-grow: 1;
}

.custom-navbar {
  background-color: #bbff00;
  padding: 20px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #006400;
}

.card-link {
  text-decoration: none;
}
